:root {
  --bg: #f6f1e9;
  --blues: #5562af;
  --pink: #ff93a5;
  --red: #ac4821;
}

html {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  background: var(--bg);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

button:focus,
button:focus-visible,
button:active {
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mainButton {
  color: var(--blues);
  border: 2px solid var(--blues);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nakedButt {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
